services:
  db:
    image: postgres:15-alpine
    container_name: auth_db
    ...

  auth-service:
    build: ./authentication
    container_name: auth_service
    ports:
      - "8000:8000"
    ...

  document-service:
    build: ./document_service
    container_name: document_service
    ports:
      - "8001:8000"
    volumes:
      - ./document_service/storage:/app/storage
      - ./document_service/fonts:/app/fonts
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped

  notification-service:
    build: ./notification_service
    container_name: notification_service
    ports:
      - "8100:8100"              # Swagger уведомлений: http://localhost:8100/docs
    environment:
      # Если MQ будет в docker-compose, то MQ_HOST поставишь равным имени контейнера (например activemq)
      - MQ_HOST=activemq
      - MQ_PORT=61613
      - MQ_QUEUE=/queue/analysis.result.events
      - EMAIL_FROM=no-reply@example.com
      - EMAIL_PRINT_ONLY=true
    volumes:
      - ./notification_service/notifications.log:/app/notifications.log
    restart: unless-stopped

volumes:
  postgres_data:
